@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Kanit:ital,wght@0,300;0,400;0,500;1,300&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gluten&family=Kanit:ital,wght@0,300;0,400;0,500;1,300&family=Sedgwick+Ave+Display&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.navbar .navbar-brand{
   font-family: 'Sedgwick Ave Display', cursive;
   font-size: 25px;
   color: rgba(14, 202, 11,.5);
   margin-left: 25px;
}
.navbar .navbar-brand:hover{ 
    transform: scale(1.4);
    color: rgb(14, 202, 11);}
#navbar{
   position: sticky;
   top: 0;
   left: 0;
   z-index: 100;
   box-shadow:0px 5px 20px rgba(0,0,0,0.5);
   background-color: black;
   box-sizing: border-box;font-family: 'Black Ops One', cursive;
}
#navbarTogglerDemo03 a{
   color: white;
}
#navbarTogglerDemo03 a:hover{
   color: rgb(14, 202, 11);
   border-bottom:3px solid rgb(14, 202, 11);
   padding-left: 30px;
}
#navbarTogglerDemo03 button{
   background-color: rgb(14, 202, 11) ;
   border-radius: 15px;
}
.signin{
    background-color: rgb(14, 202, 11) !important;
    color: white !important;
    border-radius: 50px;
    font-size: 15px !important;
}
.nav-link:hover{
    transform: scale(1.1);
}
section{
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}



/*home*/
#home{
   background: linear-gradient(rgba(2, 2, 2, 0.1),rgba(0, 0, 1,0.9)),url(media/shose.jpg);
   background-repeat: no-repeat;
   background-position: center;
   color: rgb(244, 244, 248);
   background-color: rgb(15, 209, 161);
   flex-direction: column;
   margin-top: 0px;
}
#home h1{
   font-family: 'Sedgwick Ave Display', cursive;
   letter-spacing: 3px;
   text-shadow: 2px 2px 0px rgb(14, 202, 11),
   0px 10px 20px rgb(14, 202, 11);
}
#home p{
   width: 60%;
   box-sizing: border-box;font-family: 'Black Ops One', cursive;
}
#home .input-group{
   width: 30%;
   box-sizing: border-box;font-family: 'Black Ops One', cursive;
   border-radius: 40px;
}
 input{
   font-family: 'Courier New', Courier, monospace;
   font-weight: 100;
   font-size: 10px;
   width: 100px ;
}
#home .input-group button{
   width: 60px;
   text-align: center !important;
}




 /*about*/
 #about{
   background-color: rgb(15, 209, 161);
   background-image: linear-gradient(rgba(2, 2, 2, 0.1),rgba(0, 0, 1,0.9));
   color: white;
   padding: 40px;
}
#about h1{
    text-shadow: 2px 5px 5px rgb(14, 202, 11) ;
    margin-top: 20px;
    margin-bottom: 20px;
}
#about img{
   margin-top: 30px;
}
